<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Beanie Baby Matching Quiz!</title>
        <ul>
            <ul>
                <li>
                    What is your favorite color?
                </li>
            </ul>
            <ul>
                <li>
                    What is your favorite holiday?
                </li>
            </ul>
            <ul>
                <li>
                    What country are you from?
                </li>
            </ul>
            <ul>
                <li>
                    Do you like to play sports?
                </li>
            </ul>
            <ul>
                <li>
                    Do you like to dance?
                </li>
            </ul>
            <ul>
                <li>
                    Do you like to paint or draw?
                </li>
            </ul>
        </ul>
    </head>
    <body>
    </body>
</html>
<!--Need to figure out how to have answers listed as multiple choice-->


