<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
       <title>Beanie Baby Matching Quiz!</title>
    </head>
    <body>
         <form action="/Home/Quiz" method="post">
        <ul style="list-style:none;">
            <ul style="list-style:none;">
                <li>
                    What is your favorite color?
                        <ul style="list-style:none;">
                            <li>
                                Blue <input type="radio" name="color" value="blue"/>
                            </li>
                            <li>
                                Red <input type="radio" name="color" value="red"/>
                            </li>
                            <li>
                                Purple <input type="radio" name="color" value="purple"/>
                            </li>
                            <li>
                                Yellow <input type="radio" name="color" value="yellow"/>
                            </li>
                            <li>
                                Green <input type="radio" name="color" value="green"/>
                            </li>
                            <li>
                                Brown <input type="radio" name="color" value="brown"/>
                            </li>
                            <li>
                                Black <input type="radio" name="color" value="black"/>
                            </li>
                            <li>
                                Grey <input type="radio" name="color" value="grey"/>
                            </li>
                            <li>
                                White <input type="radio" name="color" value="white"/>
                            </li>
                            <li>
                                Orange <input type="radio" name="color" value="orange"/>
                            </li>
                            <li>
                                Rainbow <input type="radio" name="color" value="rainbow"/>
                            </li>
                        </ul>
                </li>
            </ul>
            <ul style="list-style:none;">
                <li>
                    What country are you from?
                </li>
                    <ul>
                        <li>
                            United States <input type="radio" name="country" value="UnitedStates" />
                        </li>
                        <li>
                            Canada <input type="radio" name="country" value="Canada" />
                        </li>
                        <li>
                            Great Britain <input type="radio" name="country" value="Great Britain"/>
                        </li>
                    </ul>
            </ul>
            <ul style="list-style:none;">
                <li>
                    Do you like to play sports?
                </li>
                    <ul>
                        <li>
                            Yes <input type="radio" name="sports" value="sportsyes" />
                        </li>
                        <li>
                            No <input type="radio" name="sports" value="sportsno" />
                        </li>
                    </ul>
            </ul>
            <ul style="list-style:none;">
                <li>
                    What is your favorite Animal?
                </li>
                    <ul>
                        <li>
                            Bear <input type="radio" name="animal" value="bear" />
                        </li>
                        <li>
                            Dog <input type="radio" name="animal" value="dog" />
                        </li>
                        <li>
                            Lion <input type="radio" name="animal" value="lion" />
                        </li>
                        <li>
                            Emoji <input type="radio" name="animal" value="emoji" />
                        </li>
                        <li>
                            Fish <input type="radio" name="animal" value="fish" />
                        </li>
                    </ul>
            </ul>
            <ul style="list-style:none;">
                <li>
                    Do you like to cartoons?
                </li>
                    <ul>
                        <li>
                            Yes <input type="radio" name="draw" value="drawyes" />
                        </li>
                        <li>
                            No <input type="radio" name="draw" value="drawno" />
                        </li>
                    </ul>
            </ul>
                <ul style="list-style:none;">
                <li>
                    Disney Channel or Cartoon Network?
                </li>
                    <ul>
                        <li>
                            Disney Channel <input type="radio" name="channel" value="disney" />
                        </li>
                        <li>
                            Cartoon Network <input type="radio" name="channel" value="cartoonnetwork" />
                        </li>
                    </ul>
            </ul>
        </ul>
         
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
<!--Need to figure out how to have answers listed as multiple choice-->


