@model TYBearQuiz.Database_files.Beanie
@{
    Layout = null;
}
<home-page>
    <h1>{{home.name}}Welcome to @ViewData["project title"]!</h1>
</home-page>
<p>
    Ever wanted to know what type of Beanie Bear or Beanie Baby fits you best? Take this quiz and you'll find out!
</p>
<div class="quizform">
    <span class="quizbutton">
        <a routerLink="/webform-quiz/webform-quiz.component.html">link to user component</a>
        <form action="/Home/Quiz" method="get">
            <input id="StartQuiz" type="submit" value="Take the Quiz" />
        </form>
    </span>
</div>